.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
}

.menu-bar .menu {
    -fx-text-fill: white;
}

.menu-bar .menu .menu-item {
    -fx-text-fill: white;
}

.button, .text-field {
    -fx-font-size: 12pt;
}


.split-pane {
    -fx-divider-position: 0.5;
}


.scroll-pane, .text-area {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #333333;
}


.separator-menu-item {
    -fx-border-color: #666666;
    -fx-border-width: 0 0 1 0;
}


.anchor-pane {
    -fx-padding: 10;
}


.text-area:disabled {
    -fx-opacity: 1.0;
}


.text-area .caret {
    -fx-background-color: transparent;
}


.text-area .selection {
    -fx-background-color: #acdefa;
}


.text-field .prompt-text {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}


.menu-bar .button {
    -fx-text-fill: white;
}


.menu .separator {
    -fx-background-color: #666666;
}


#keyTextField {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}


.button#handleSaveKeyAction {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
}

