/* ComplexApplication.css */

.root {
    -fx-font-size: 16;
}

/* MenuBar styles */
MenuBar {
    -fx-text-fill: white;
}

Menu {
    -fx-text-fill: white;
}

MenuItem {
    -fx-text-fill: white;
}

/* SplitPane styles */
.split-pane {
    -fx-background-color: #e5e5e5;
}

/* File History styles */
#fileHistoryListView {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-padding: 5;
}

#fileHistoryListView .list-cell {
    -fx-padding: 5;
}

#fileHistoryListView .list-cell:hover {
    -fx-background-color: lightblue;
}

#fileHistoryListView .list-cell:selected {
    -fx-background-color: lightblue;
}

/* Labels styles */
#leftStatusLabel, #rightStatusLabel {
    -fx-font-size: 12;
    -fx-text-fill: darkgray;
}

/* ScrollPane styles */
.scroll-pane {
    -fx-background-color: #e5e5e5;
}

/* HBox styles */
#HBox {
    -fx-background-color: #333333;
}

/* AnchorPane styles */
AnchorPane {
    -fx-background-color: #ffffff;
}

/* ListView styles */
.list-view {
    -fx-background-color: white;
}

.list-view .list-cell {
    -fx-background-color: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #e5e5e5;
}

.list-view .list-cell:selected {
    -fx-background-color: #e5e5e5;
}
