/* styles.css */

.root {
    -fx-background-color: #f4f4f4;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-size: 14;
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
}
